@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-white dark:bg-black-200 transition duration-200;
  }
  
  #app {
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
  }
  main {
    min-height: 90vh;
  }

  .noscrollbar::-webkit-scrollbar {
      display: none;
  }

  .acoustic-alarm {
    background-color: rgba(243, 56, 31, 0.84);
    background: #005B40;
  }

  .patient-up-alarm {
    background-color: rgba(69, 154, 125, 1);
    background: #00C9A3
  }

  .faulty-sensor-alarm {
    background-color: rgba(129, 177, 134, 1);
    background: #B6A1DF;
  }

  .fire-alarm {
    background-color: rgba(55, 75, 67, 1);
    background: #6A5890
  }
