@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  @apply bg-white transition duration-200 dark:bg-black-200;
  @apply dark:bg-primary-300;
  background: #eff5f5;
  margin: 1em 0.5em;
  max-width: 1180px;
  background: url('https://tailwindcss.com/_next/static/media/docs-dark@tinypng.1bbe175e.png') no-repeat
}

#app {
  font-family: 'Roboto', sans-serif;
  min-width: 320px;
}

main {
  height: 88vh;
}

.noscrollbar::-webkit-scrollbar {
  display: none;
}

.acoustic-alarm {
  background: #ff6eb8;
}

.patient-up-alarm {
  background: #329692;
}
.faulty-sensor-alarm {
  background: #002d2c;
}
.fire-alarm {
  background: #b82c2c;
}

.responsive-client-list {
  // height: 66.3vh;
  overflow: hidden;
}

.alarm-bio.active {
  @apply bg-primary-200 dark:bg-black-300;
  @apply hover:bg-primary-200 dark:bg-black-300;
  color: white;
}

.profile-block {
  &.empty {
    min-height: 333px;
  }
  img {
    height: 100px;
    min-width: 120px;
    border-radius: 0.5em;
  }
}

.section-header {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.section-footer {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

input[type='checkbox'] {
  text-align: center;
  width: 1.5em;
  min-width: 1.5em;
  height: 1.5em;
  appearance: none;
  border-radius: 10%;
  box-shadow: none;
  @apply border border-primary-200;
  @apply border-black-200 dark:bg-black-300;
  &:checked {
    &:after {
      content: '\2713';
      font-size: 1.5em;
      color: white;
    }
  }
}