@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-black-200 transition duration-200;
}

:root{
  --primary-green: #00c9a3;
  --primary-purple: #4a05d3;
}


#app {
  font-family: 'Roboto', sans-serif;
  min-width: 320px;
}
main {
  min-height: 90vh;
}

.noscrollbar::-webkit-scrollbar {
  display: none;
}

.acoustic-alarm {
  background-color: rgba(243, 56, 31, 0.84);
  background: #005b40;
}

.patient-up-alarm {
  background: var(--primary-green);
}

.faulty-sensor-alarm {
  background: var(--primary-purple);
}

.fire-alarm {
  background-color: rgba(55, 75, 67, 1);
  background: #6a5890;
}

.client-list {
  height: 66.3vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-green);
}
