@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-white;
  }
  
  #app {
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
  }
  main {
    min-height: 90vh;
  }